@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sanchez:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}
body{
    display: flex;
}

#professores{
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: aliceblue;
}
#AvaliarAula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 100vh;
    left: 50%;
    background-image: url('../img/fundo.jpg');
    background-position: 20px;
    background-size: contain;
}

#titulo{
    background-color: rgb(80, 80, 80);
    color: aliceblue;
}

#numeroDaPagina{
    align-self: center;
}

#nota{
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
}

#comentario{
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.notas{
    display: flex;
    flex-direction: row;
}

.nota{
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
    transition: box-shadow 1s ease;
    transition: background-color 1s ease;
}

.comentario{
    display: flex;
    width: 100px;
    height: 50px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 1s ease;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.professor{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.selecionadaNota{
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
}
#deslogar{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


h2{
    text-align: center;
    margin-bottom: 20px;
}

#btn-avaliar, #logout{
    cursor: pointer;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

input{
   height: 60px;
   width: 500px;
}

#paginacao{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    
}



.paginar{
    align-items: center;
    justify-content: center;
    margin: 20px;
    display:  flex;
    flex-direction: row;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

#enviarComentario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nota-1{
    background-color: red;
    box-shadow: 5px 5px rgb(100, 0, 0);
}
.nota-2{
    background-color: green;
    box-shadow: 5px 5px rgb(0, 51, 0);
}
.nota-3{
    background-color: rgb(59, 59, 255);
    box-shadow: 5px 5px rgb(0, 0, 100);
}
.nota-4{
    background-color: rgb(255, 208, 0);
    box-shadow: 5px 5px rgb(100, 100, 0);
}
.nota-5{
    background-color: purple;
    box-shadow: 5px 5px rgb(34, 0, 34);
}
.nota-6{
    background-color: orange;
    box-shadow: 5px 5px rgb(90, 59, 0);
}
.nota-7{
    background-color: rgb(207, 155, 164);
    box-shadow: 5px 5px rgb(122, 91, 96);
}
.nota-8{
    background-color: brown;
    box-shadow: 5px 5px rgb(58, 14, 14);
}
.nota-9{
    background-color: gray;
    box-shadow: 5px 5px rgb(59, 59, 59);
}
.nota-10{
    background-color:burlywood;
    box-shadow: 5px 5px rgb(107, 89, 65);
}

.selecionadaNota{
    background-color: black;
    box-shadow: 5px 5px rgb(37, 37, 37);}