@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sanchez:ital@0;1&display=swap');

@font-face {
    font-family: 'Typewriter-Bold';
    src: url(../../../../../fontes/font1\ -\ jmh_typewriter/JMHTypewriter-Bold.ttf) format('truetype'),
        url(../../../../../fontes/font1\ -\ jmh_typewriter/JMHTypewriter-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Typewriter';
    src: url(../../../../../fontes/font1\ -\ jmh_typewriter/JMHTypewriter.ttf) format('truetype'),
        url(../../../../../fontes/font1\ -\ jmh_typewriter/JMHTypewriter.otf) format('opentype');
}

@font-face {
    font-family: 'Drunken-Hour';
    src: url(../../../../../fontes/font2\ -\ drunken-hour/drunkenhourDEMO.otf) format('opentype');
}

@font-face {
    font-family: 'Minecraft';
    src: url(../../../../../fontes/font3\ -\ minecraft/minecraft.woff2.woff2) format('woff2'),
        url(../../../../../fontes/font3\ -\ minecraft/minecraft.ttf) format('truetype'),
        url(../../../../../fontes/font3\ -\ minecraft/minecraft.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    background: url(../img/backgroundAzulListrado.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    width: 600px;
    padding: 30px 40px;
}

h1 {
    font-family: 'Minecraft';
    color: #FFFEFF;
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
}

form {
    background-color: #CDC9C0;
    height: 330px;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 0 -1px;
}

img {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-box {
    width: 100%;
    height: 45px;
    margin: 30px 0;
    background-color: #ffffff;
}

.input-box input {
    font-family: 'Typewriter';
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 3px solid #D6D5D1;
    padding: 7px;
    color: #000000;
    font-size: 14px;
    outline: none;
}

button {
    font-family: 'Typewriter-Bold';
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #14167D;
    color: #F8FCFF;
    border: 3px solid #D8D7DD;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: #110F70;
    border: 3px solid #A8A7C6;
    color: #F8FCFF;
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
}

.a-back {
    font-family: 'Typewriter';
    -webkit-text-stroke-width: 0.7px;
    display: flex;
    justify-content: center;
    margin-top: 7px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}

.a-back:hover {
    text-decoration: underline;
}

.input-box a {
    position: relative;
    bottom: -2px;
    visibility: hidden;
}

.input-box-error {
    width: 100%;
    height: 45px;
    margin: 30px 0;
    background-color: #ffffff;
}

.input-box-error input {
    font-family: 'Typewriter';
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 3px solid #FF3B25;
    padding: 7px;
    color: #000000;
    font-size: 14px;
    outline: none;
}

.input-box-error a {
    font-family: 'Typewriter-Bold';
    position: relative;
    bottom: -2px;
    visibility: visible;
    color: #FF3B25;
}
