<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/areadaAdministracao.css">
    <title>ÁREA DA ADMINISTRAÇÃO</title>
</head>
<body>
    <div class="notification">
        <i class="bx bx-bell" style="color:#000000;"></i>
    </div>

    <div class="professor-registro">
        <div class="professor">
            <input type="button" value="Professor">
        </div>

        <div class="registro">
            <input type="button" value="Registro">
        </div>
    </div>

    <div class="deslogar">
        <button type="submit" id="logout">Sair →</button>
    </div>
</body>
</html>